# PSO
pypso

numpy
absl-py
attrs
azure-common
azure-nspkg
azure-storage-blob  # Changed from azure-storage, because that is deprecated
certifi
charset-normalizer
cma
cycler
Cython
dill
flatbuffers
fonttools
gpytorch
idna
importlib-metadata
iniconfig
isodate
jax
jaxlib
joblib
kiwisolver
matplotlib
msrest
multipledispatch
numpyro
oauthlib
opt-einsum
packaging
Pillow
pluggy
py
py-expression-eval
pyaml
pyDOE
pyparsing
pytest
python-dateutil
PyYAML
requests
requests-oauthlib
scikit-learn
scikit-optimize
scipy
six
scikit-learn  # Changed from sklearn because sklearn is deprecated
sobol-seq
tabulate
threadpoolctl
tomli
torch
tqdm
typing_extensions
urllib3
zipp
ioh
paramz
networkx
disjoint_set
mlflow
h5py
coloredlogs
ruamel.yaml
botorch==0.13.0
HEBO

# MECHBench requirements:
gmsh>=4.13.1
vtk>=9.3.1
numpy>=2.0.1
requests>=2.31.0
ioh>=0.3.19
pandas  # Changed from 3.0.2 because python 3.9 goes until 2.something